<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Регистрация</title>
</head>
<body>
	<h1>Регистрация</h1>
	<form action = "" method="">
		<p>Индивидуальный предприниматель:</p>
		<p><input placeholder="Введите ФИО" type="" name="username"></p>
		<p>УНП:</p>
		<p><input placeholder="Введите УНП" type="" name="unp"></p>
		<p>Логин:<input placeholder="Введите логин" type="" name="login"></p>
		<p>Пароль:<input placeholder="Введите пароль" type="password" name="userpassword"></p>
		<p>Повтор пароля:<input placeholder="Повторите пароль" type="password" name="userpassword"></p>
		<button type="button">Зарегистрироваться</button>
	</form>

</body>
</html>